:root {
    --primary-color: #444444;
    --secondary-color: #ffffff;
    --tertiary-color: #82a2b1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--tertiary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}  
header {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 35px;
    color: var(--primary-color);
    text-align: center;
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
    opacity: 0.5;
    font-size: 12px;
}
.about-me {
    color: var(--primary-color);
    text-align: center;
}
.about-me img {
    border-radius: 45px;
    height: 255px;
    width: 185px;
}
section {
    padding: 60px;
}
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.2;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
}
.section-title {
    font-size: 48px;
    color: var(--primary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
} 
.primary-border {
    border-color: var(--tertiary-color);
}  
.secondary-border {
    border-color: var(--primary-color);
}
.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.projects { 
    background: var(--tertiary-color);
}
.projects img {
    width: 255px;
    height: 375px;
    columns: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project:hover {
    position:relative;
    top: -25px;
    left: -35px;
    width: 500px;
    height: 650px;;
    display: block;
    z-index: 999;
}
.contact {
    background: var(--secondary-color);
}
.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info div {
    color: var(--tertiary-color);
}
.contact-info h4 {
    color: var(--primary-color);
    font-size: 32px;
}
.contact-info a {
    color: var(--tertiary-color);
}
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: var(--secondary-color);
}
.text-left {
    text-align: left;
}  
.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta {
        width: 100%;
    }  
    .hero-cta {
        text-align: center;
    }
    .section-title {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
}
@media screen and (max-width: 575px) {
    .about-me button {
      width: 100%;
    }
    .section-title {
      width: 95%;
    }
    .intro p {
      width: 100%;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
}